.left-content
  %div(class="name")
    %p(class="name__user-name")<seo
    %form(class="name__submit")
      %label(class="name__submit__label")
        %a(href="aaaaas")
          %i(class="fas fa-edit")
        %a(href="aaaaaaa")
          %i(class="fas fa-cog")
  %div(class="group")
    %div(class="text-box")
      %p(class="text-box__group")<test
      %p.text-box__message<まだメッセージがありません
    %div(class="text-box")
      %p(class="text-box__group")<test
      %p.text-box__message<まだメッセージがありません
%div(class="right-content")
  %div(class="name")
    %div(class="header")
      %div(class="group")
        %p(class="group__title")<test
        %p(class="group__member")<Member:atsuto7
      %a(href="aaaaa")
        %div(class="edit-btn")<Edit
      
    
  %div(class="message")
    %div(class="text")
      %div(class="text__user")
        %p(class="user-name")<test_user
        %p(class="int")<2019
        
      %div(class="text__string")
        %p.text__string__message<
          こんにちは
    %div(class="text")
      %div(class="text__user")
        %p(class="user-name")<test_user
        %p(class="int")<2019/7/22
        
      %div(class="text__string")
        %p.text__string__message<
          こんばんは
    
  %div(class="kennsaku")
    %div(class="new-message")
      %div(class="input-box")
        %input(placeholder="type a message" class="input-box__text")
        %form(class="input-box__form")
          
          %label(class="input-box__form__image-label" for="message_image")
            %i(class="far fa-image ")
            %input(class="fa-image__input" type="file")
      %input(class="message_submit-btn" type="submit" value="Send")   
          
    
        

  

 