.wrapper{
  height: 100%;
  width: 100%;
  overflow: auto;
}
.left-content {
  float: left;
  width: 300px;
  height: 100%;
 .name {
    background-color: #253141;
    height: 100px;
    width: 100%; 
    align-items: center;
    padding: 0 20px;
    font-weight: bold;
    box-sizing: border-box;
    display: flex;
   &__user-name {
     font-size: 16px;
     color: #FFFFFF;
     line-height: 100px;

   }   
   &__submit {
     line-height: 100px;
     padding-left: 140px;
     &__label {
       float: right;
       .fa-edit {
         font-size: 1.3rem;
         bottom: 0px;
         right: 10px;
         display: inline-block;
         font-style: normal;
         font-variant-ligatures: normal;
         font-variant-caps: normal;
         font-variant-numeric: normal;
         font-variant-east-asian: normal;
         font-weight: normal;
         font-stretch: normal;
         color: white;
         line-height: 100px;
         font-family: FontAwesome;
        
         text-rendering: auto;
         -webkit-font-smoothing: antialiased;
         
       }
       .fa-cog {
         font-size: 1.3rem;
         bottom: 0px;
         right: 10px;
         display: inline-block;
         font-style: normal;
         font-variant-ligatures: normal;
         font-variant-caps: normal;
         font-variant-numeric: normal;
         font-variant-east-asian: normal;
         font-weight: normal;
         font-stretch: normal;
         color: white;
         line-height: 100px;
         font-family: FontAwesome;
         margin-left: 5px;
         text-rendering: auto;
         -webkit-font-smoothing: antialiased;
       }
     }
     &__input {

     }
   }
  }  
 .group {
    background-color: #2f3e51;
    height: calc(100% - 100px);
    width:100%;
    box-sizing: border-box;
    padding-top: 20px;
    overflow: auto;
    .text-box {
      padding: 0 20px;
      &__group {
        font-size: 15px;
        color:  #FFFFFF;
        
      }
      &__message {
        font-size: 11px; 
        color: #FFFFFF;
        padding-top: 5px;
        padding-bottom: 40px;
      }
    }
  }
 }