.left-content {
  float: left;
  width: 300px;
  height: 100%;
 .name {
    background-color: #253141;
    height: 100px;
    width: 100%; 
    align-items: center;
    padding: 0 20px;
    font-weight: bold;
    box-sizing: border-box;

   .name__user-name {
     font-size: 16px;
     color: #FFFFFF;
     line-height: 100px;

   }   
   .name__submit {
     
     .name__submit__label {

       .fa-edit {
         font-size: 1.3rem;
         position: absolute;
         top: 0px;
         left: 230px;
         display: inline-block;
         font-style: normal;
         font-variant-ligatures: normal;
         font-variant-caps: normal;
         font-variant-numeric: normal;
         font-variant-east-asian: normal;
         font-weight: normal;
         font-stretch: normal;
         color: white;
         line-height: 100px;
         font-family: FontAwesome;
        
         text-rendering: auto;
         -webkit-font-smoothing: antialiased;
         
       }
       .fa-cog {
         font-size: 1.3rem;
         position: absolute;
         top: 0px;
         left: 260px;
         display: inline-block;
         font-style: normal;
         font-variant-ligatures: normal;
         font-variant-caps: normal;
         font-variant-numeric: normal;
         font-variant-east-asian: normal;
         font-weight: normal;
         font-stretch: normal;
         color: white;
         line-height: 100px;
         font-family: FontAwesome;
        
         text-rendering: auto;
         -webkit-font-smoothing: antialiased;
       }
     }
     .name__submit__input {

     }
   }
  }  
 .group {
    background-color: #2f3e51;
    height: calc(100% - 100px);
    width:100%;
    box-sizing: border-box;
    padding-top: 20px;
    .text-box {
      padding: 0 20px;
      .text-box__group {
        font-size: 15px;
        color:  #FFFFFF;
        
      }
      .text-box__message {
        font-size: 11px; 
        color: #FFFFFF;
        padding-top: 5px;
        padding-bottom: 40px;
      }
    }
  }
 }