.right-content {
  float: right;
  width: calc(100% - 300px);
  height: 100%;
  .name {
    height: 100px;
    width: 100%;    
    background-color: white;
    border-bottom: solid 1px #eee;
   
    .header {
      padding: 0 40px;
      justify-content: space-between;
      .group {
        width: calc(100% - 100px);
       
       &__title {
         font-size: 20px;
         color: #333333;
         padding-top: 35px;

       }
       &__member {
         font-size: 12px;
         padding-top: 15px;
         color: #999999;
       }         
      }
      a {
       text-decoration: none;
       float: right;
       position: relative; 
       bottom: 100px;
       .edit-btn {
         height: 40px;
         line-height: 40px;
         padding: 0 20px;
         margin-top: 30px;
         border: solid 1px #38AEF0;
         color: #38AEF0;
       }

      }
    }
  } 
  .messages {
    background-color: #FAFAFA;
    box-sizing: border-box;
    padding: 46px 40px 0;
    height: calc(100% - 100px - 90px);
    width: calc(100% - 300px);
    overflow: auto;
    position: absolute;
    top: 100px;
    .message {
      .upper-message {
        display: flex;
        &__user-name {
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: #999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
        &__content {
          color: #434a54;
          font-size: 14px;
          margin-bottom: 40px;
        }
      }
    }
  }
  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    width: calc(100% - 300px);
    padding: 20px 50px 20px 40px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: #fff;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: #38AEF0;
      border: none;
      color: #fff;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }

}