.right-content {
  float: right;
  width: calc(100% - 300px);
  height: 100%;
  .name {
    height: 100px;
    width: 100%;    
    background-color: white;
    border-bottom: solid 1px #eee;
    .header {
      padding: 0 40px;
      justify-content: space-between;
      .group {
        width: calc(100% - 100px);
       
       &__title {
         font-size: 20px;
         color: #333333;
         padding-top: 35px;

       }
       &__member {
         font-size: 12px;
         padding-top: 15px;
         color: #999999;
       }         
      }
      a {
       text-decoration: none;
       float: right;
       position: relative; 
       bottom: 100px;
       .edit-btn {
         height: 40px;
         line-height: 40px;
         padding: 0 20px;
         margin-top: 30px;
         border: solid 1px #38AEF0;
         color: #38AEF0;
       }

      }
    }
  }
  .message {
    width: 100%;
    height: calc(100% - 100px);
    background-color: #fafafa;
    box-sizing: border-box;
    padding-top: 6px;
    .text {
      padding: 0 40px;
      &__user {
       display: flex;
       padding-top: 40px;
       
       box-sizing: border-box;
        .user-name {
          font-size: 16px;
          color: #434A54;
          font-weight: bold;
          padding-right: 10px;
        }
        .int {
          font-size: 12px;
          color: #999999;
          line-height: center;
         
        }        
      }
      &__string {
        padding-top: 10px;
        
        &__message {
         font-size: 14px;
         color: #434a54;
        }
      }
    }
  }
  .kennsaku {
    background-color: #ddd;
    width: calc(100% - 300px);
    height: 90px;
    padding: 20px 40px;
    bottom: 0;
    z-index: 1;
    position: fixed;
    box-sizing: border-box;
    
    
    .new-message {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      display: flex;
      

     .input-box {
       position: relative;
       width: 100%;
       display: inline;
       height: 50px;

       
       &__text {
         height: 50px;
         width: calc(100% - 70px);
         padding: 0 40px 0 10px;
         color: #434a54;
         border-style: none;
       }
       &__form {
         font-size: 1.3rem;
         position: absolute;
         top: 15px;
         right: 20px;
         width: 50px;
         height: 25px;
         
         &__image-label {
          
           font-size: 1.3rem;
           position: absolute;
           right: 10px;
           width: 100%;
           height: 100%;
         }
       
         .fa-image__input {
           display: none;
           width: 100%;
           height: 100%;
           z-index: 3;
         }
       
       .far {
         font-size: 1.3rem;
         position: absolute;
         top: 0px;
         right: 10px;
         display: inline-block;
         font-style: normal;
         font-variant-ligatures: normal;
         font-variant-caps: normal;
         font-variant-numeric: normal;
         font-variant-east-asian: normal;
         font-weight: normal;
         font-stretch: normal;
         
         line-height: 1;
         font-family: FontAwesome;
        
         text-rendering: auto;
         -webkit-font-smoothing: antialiased;
         
         

       }     
     }
     }
   
   .message_submit-btn {
     background-color: #38AEF0;
     width: 100px;
     height: 50px;
     color: white;
     float: left;
     
     bottom: 0;
   }
   }

  }
}